html
{
  height: 100%;
  width: 100%;
}

body
{
  margin: 0px;
  padding:0px;
  height: 100%;
  width: 100%;
}

table
{
  font-size: 90%;
}

th,td
{
  text-align: left;
  vertical-align: top;
}

table h1
{
  margin-bottom: 0px;
  font-size: 110%;
}

del
{
  background-color: #EFA4A4;
}

ins
{
  background-color: #A7DFDF;
}

img
{
  border: none;
}

a
{
  color: #3366aa;
  text-decoration: none;
}

a:HOVER
{
  color: navy;
  text-decoration: underline;
}

div.pagination
{
  float: right;
  clear: both;
}

div.pagination_desc
{
  margin-bottom: 4px;
}

span.current-page
{
  font-weight: bold;
}

table.full-page
{
  width: 100%;
  height: 100%;
}

table.full-page td.left-sidebar
{
  width:200px;
  border-right: 1px solid silver;
  background-color: #f4f4ee;
}

form
{
  display: inline;
}

input
{
  border: 1px solid gray;
}

input, select, textarea
{
  font-size: 12px;
}

table.form th
{
  font-weight: normal;
  vertical-align: middle;
}

table.form td
{
  text-align: right;
}

ul.menu
{
  background:transparent url('/sfJqueryReloadedPlugin/css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40') repeat-x scroll left top;
  border-top:1px solid #BABDB6;
  height:20px;
  list-style-type:none;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

ul.menu a
{
  border-right:1px solid #BABDB6;
  color:#EEEEEC;
  display:block;
  font-size:0.9em;
  line-height:20px;
  text-align:center;
  text-decoration:none;
  width:100px;
}

div#error-box
{
  background: #FFDFE0 url('../images/icons/error.png') no-repeat 5px center;
  padding: 5px;
  padding-left: 25px;
  color: maroon;
  border-bottom: 2px solid gray;
  font-size: 90%;
}

div.info-box
{
  background-color: #FFFCDF;
  border-bottom: 2px solid gray;
  padding: 5px;
  margin: -5px;
  margin-bottom: 10px;
}